
@model IEnumerable<Room>

@{
}

<div class="w-100 card border-0 p-4">
	<div class="card-header bg-success bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">لیست اتاق ها</h2>
			</div>
		</div>
	</div>
	<div class="card-body border p-4">
		<div class="row pb-3">
			<div class="col-6 offset-6 text-end">
				<a asp-controller="Room" asp-action="Create" class="btn btn-secondary">  افزودن اتاق جدید   <i class="bi bi-plus-square"> </i> </a>
			</div>
		</div>

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>نام هتل</th>
					<th>شماره اتاق</th>
					<th>مشخصات</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var room in Model)
				{
					<tr>
						<td>@room.Hotel.Name</td>
						<td>@room.RoomNumber</td>
						<td>@room.Details</td>
						<td>
							<div class="btn-group w-75" role="group">
								<a asp-controller="Room" asp-action="Update" asp-route-roomNumber="@room.RoomNumber" class="btn btn-success mx-2">
									ویرایش <i class="bi bi-pencil-square"></i>
								</a>
								<a asp-controller="Room" asp-action="Delete" asp-route-roomNumber="@room.RoomNumber" class="btn btn-danger mx-2">
									حذف <i class="bi bi-trash-fill"></i>
								</a>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
