@using Otaghche.Domain.Entities

@model IEnumerable<Hotel>

@{
}

<div class="w-100 card border-0 p-4">
	<div class="card-header bg-success bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">لیست هتل ها</h2>
			</div>
		</div>
	</div>
	<div class="card-body border p-4">
		<div class="row pb-3">
			<div class="col-6 offset-6 text-end">
				<a asp-controller="Hotel" asp-action="Create" class="btn btn-secondary">  افزودن هتل جدید   <i class="bi bi-plus-square"> </i> </a>
			</div>
		</div>

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>نام</th>
					<th>قیمت</th>
					<th>مساحت</th>
					<th>ظرفیت</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var hotel in Model)
				{
					<tr>
						<td>@hotel.Name</td>
						<td>@hotel.Price هزار تومان</td>
						<td>@hotel.Sqft متر مکعب</td>
						<td>@hotel.Occupancy نفر</td>
						<td>
							<div class="btn-group w-75" role="group" >
								<a asp-controller="Hotel" asp-action="Update" asp-route-hotelId="@hotel.Id" class="btn btn-success mx-2">
									ویرایش <i class="bi bi-pencil-square"></i>
								</a>
								<a asp-controller="Hotel" asp-action="Delete" asp-route-hotelId="@hotel.Id" class="btn btn-danger mx-2">
									حذف <i class="bi bi-trash-fill"></i>
								</a>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
